.news_paragraph {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.news_paragraph_title {
    font-size: 16px !important;
}
.news_paragraph_date {
    float: right;
    margin: 8px 0 !important;
}
.card_media {
    width: 100%;
    height: 140px;
}
