.login-modal {
    padding: 0;
}

.social-side {
    background: linear-gradient(221.27deg, #385FAE 0%, #153e6b 100%);
    padding: 0;
    position: relative;
}
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
}
.fields-side span {
     margin-bottom: 0 !important;
     margin-top: 0 !important;
}
.register-title {
    margin: 15px 0;
    font-size: 1.5rem;
}

.fields-side{
    background: #fff;
    padding: 20px 25px;
}

.login-modal-password-forgotten {
    font-weight: bold;
    cursor: pointer;
}
.password-forgotten-nav-link {
    color: #3e3e3e;
    padding: 0 !important;
}
.fields-side span{
    display: block;
    font-size: 0.8rem;
    color: #b0b0b0;
    margin-bottom: 10px;
    margin-top: 16px;
}

.fields-side-close{
    position: absolute;
    right:30px;
    cursor: pointer;
}
.login-modal-registration {
    margin: 10px 0;
    font-weight: bold;

}
