.ToolBar {
    flex-grow: 1;
}
.ToolBar_logo {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}
.ToolBar_logo:hover {
    cursor: pointer;
    color: #ffffff;
}
.ToolBar_title {
    flex-grow: 1;
}
.MuiButton-label {
    font-size: 16px !important;
}
.goog-te-gadget {
    font-size: 0 !important;
}
.goog-te-combo {
    width: 25px;
    height: 25px;
    border: none;
    color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../../assets/translate.png) no-repeat 0 0;
    background-size: 25px;
    padding-left: 25px;
}

.goog-te-combo:hover {
    color: black;
}
.goog-logo-link {
    display: none;
}
