.MainPage {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}
.MainPage_cardNews {
    width: 46%;
    margin: 10px;
    padding: 0 !important;
    height: auto;
}
@media screen and (max-width: 991px) {
    .MainPage_cardNews {
        width: 47%;
    }
}
@media screen and (max-width: 767px) {
    .MainPage_cardNews {
        width: 100%;
    }
}
.MuiTypography-h5 {
    font-size: 16px !important;
}
.MainPage_cardNewsLink {
    padding: 0 !important;
}
