.about_title {
    margin: 20px !important;
}
.about_news_card {
    margin: 20px;
    max-width: 100%;
}
.about_news_media {
    height: 500px;
}
@media screen and (max-width: 991px) {
    .about_news_media {
        height: 300px;
    }
}
